{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="container">
      <div class="alert alert-primary" role="alert">
        <h1>Flash messages</h1>
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
{% endwith %}
