{%- macro select(id, action, macros) -%}
  <select class="custom-select mr-2" id="{{id}}" name="value">
    <option value="" disabled>Select a recording to {{action}}</option>

    {% for recording in macros|sort(attribute='name') %}
      <option value="{{ recording.name }}">{{ recording.name }}</option>
    {% endfor %}

  </select>
{%- endmacro -%}
