<div class="container-fluid">
  <h2>New recording</h2>
  <p>Status: {{ status|capitalize }}</p>
  <div>
    <form class="form-inline d-inline" action="/new-recording" method="POST">
      <input type="hidden" name="action" value="start" />
      <button class="btn btn-primary" type="submit" {% if status != 'idle' %}disabled{% endif %}>Start</button>
    </form>

    <form class="form-inline d-inline" action="/new-recording" method="POST">
      <input type="hidden" name="action" value="save" />
      <button class="btn btn-success" type="submit" {% if status != 'recording' %}disabled{% endif %}>Save</button>
    </form>

    <form class="form-inline d-inline" action="/new-recording" method="POST">
      <input type="hidden" name="action" value="discard" />
      <button class="btn btn-danger" type="submit" {% if status != 'recording' %}disabled{% endif %}>Discard</button>
    </form>
  </div>
</div>
