{% import '_macros.html' as m %}

<div class="container-fluid">
  <h2>Remove recording</h2>
  <form class="form-inline" action="/remove" method="POST">

    {{ m.select('remove-recording', 'remove', macros) }}

    <button class="btn btn-danger" type="submit">Remove</button>
  </form>
</div>
