{% import '_macros.html' as m %}

<div class="container-fluid">
  <h2>Rename recording</h2>
  <form class="form-inline" action="/rename" method="POST">
    {{ m.select('rename-recording', 'rename', macros) }}

    <input class="form-control mr-2" type="text" name="name" placeholder="New name">

    <button class="btn btn-primary" type="submit">Rename</button>
  </form>
</div>
