{% import '_macros.html' as m %}

<div class="container-fluid">
  <h2>Replay recording</h2>
  <form class="form-inline" action="/replay" method="POST">

    {{ m.select('replay-recording', 'replay', macros) }}

    <button class="btn btn-primary" type="submit" {% if status != 'idle' %}disabled{% endif %}>Replay</button>
  </form>
</div>
