<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sans macros</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

{% include "_flashes.html" %}

<div class="container-fluid mb-2">
  <h1>Sans macros</h1>
  <p>This is a collection of macros for fighting sans. Please view this webpage on other device while the server is running undertale.</p>
</div>

{% include "_new_recording.html" %}

{% include "_replay.html" %}

{% include "_rename.html" %}

{% include "_remove.html" %}

</body>
</html>
